body{
    display: flex;
}
table {
    border: 1px solid;
    border-collapse: collapse;
    border: inset;
    width: 300px;
    height: 100px;
}
tr{
    border: 1px solid;
    border: inset;
}
td{
    border: 1px solid;
    border: inset;
}